<div class="max-w-md mx-auto px-4 py-6 space-y-6">

    <div class="rounded-xl border border-gray-200 p-4">
        <h1 class="text-xl font-semibold mb-4">Qué falta?</h1>
        <ul class="divide-y divide-gray-200">
            @for (producto of productos; track producto.id) {
                <li class="py-3 flex items-center justify-between">
                    {{ producto.nombre }}
                    <button hlmBtn size="icon" variant="ghost" class="rounded-full text-gray-400 hover:text-gray-900" (click)="agregarProducto(producto)">
                        <lucide-icon name="plus" [size]="18" [strokeWidth]="2"></lucide-icon>
                    </button>
                </li>
            }
        </ul>
    </div>

    <div class="rounded-xl border border-gray-200 p-4">
        <h2 class="text-xl font-semibold mb-4">Lista de la compra</h2>
        <ul class="divide-y divide-gray-200">
            @for (producto of listaCompra; track producto.id) {
                <li class="py-3 flex items-center justify-between">
                    {{ producto.nombre }}
                    <button hlmBtn size="icon" variant="ghost" class="rounded-full text-gray-400 hover:text-gray-900">
                        <lucide-icon name="plus" [size]="18" [strokeWidth]="2"></lucide-icon>
                    </button>
                </li>

            }
        </ul>
    </div>
</div>
